body{
    background-color:antiquewhite;
}
.loader{
    position: fixed;
    top: 0  ;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination{
    margin: 15px;
    display: flex;
    justify-content: center;
}
.pagination > span {
    margin: 0 1px;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2ms all ;
}
.pagination > span:hover{
    border: 1px solid #0d6efd;
    color: #0d6efd;
}
.pagination > span:active{
    transform: scale(0.98);
}
.selected__page{
    background-color: #c6d9f7;
}